<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} Default Page {% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
    <header>
        {% block header %}
        <h1> My Finance Tracker </h1>
        <nav>
            <ul>
                <a href=" {{ url_for('finance.index') }}">Finance Page</a>
                <a href=" {{ url_for('marketplace.index') }}">Market Page</a>
            </ul>
        </nav>
        {% endblock %}
    </header>

    <main>
{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %}
    <ul class="flashes">
        <li class="flash {{ messages[-1][0] }}">{{ messages[-1][1] }}</li> 
    </ul>
{% endif %}
{% endwith %}

        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 My Website</p>
        <a href=" {{ url_for('core.logout') }}">Logout</a>
    </footer>
</html>
